# Node.js
node_modules/

# Logs
*.log

# Environment variables
.env

# Operating System files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build directories
dist/
build/
*.out

# Python
__pycache__/
*.py[cod]

# Java
*.class

# Docker
docker-compose.override.yml
docker-compose.yml

# Temporary files
*.swp
*~
